<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blogger</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1850848335773870"
     crossorigin="anonymous"></script>
</head>

<body>
  

  <header>
    <h1>
      <a href="/" class="header_link">Tech Blogger</a>
    </h1>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard" class="header_link">Profile Page</a>
      <button  id="logout" class="btn-no-style logout header_link">Logout</button>
      {{else}}
      <a  href="/login" class="header_link">login</a>
      {{/if}}
    </nav>
  </header>

    <main>
      {{{ body }}}
    </main>

    
    <footer>
      &copy; Tech blogger 
    </footer>
  

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>